<% layout("/layouts/boilerplate") %>

<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: auto;
  }
  .filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }
  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }
  .filter p {
    font-size: 0.8rem;
  }
  .tax-info {
    display: none;
  }
  .tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
  }
  .category {
    text-decoration: none;
    color: black;
  }
  @media (max-width: 1200px) {
    .tax-toggle {
      display: none;
    }
  }
  @media (max-width: 992px) {
    #filters {
      flex-wrap: nowrap;
    }
  }
</style>
<div id="filters">
  <div class="filter">
    <a href="/listing/island" class="category">
      <div><i class="fa-solid fa-island-tropical"></i></div>
      <p>Island</p>
    </a>
  </div>
  <div class="filter">
    <a href="/listing/rooms" class="category">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
    </a>
  </div>
  <div class="filter">
    <a href="/listing/iconiccities" class="category">
      <div><i class="fa-solid fa-mountain-city"></i></div>
      <p>Iconic Cities</p>
    </a>
  </div>
  <div class="filter">
    <a href="/listing/mountains" class="category">
      <div><i class="fa-solid fa-mountain"></i></div>
      <p>Mountains</p>
    </a>
  </div>
  <div class="filter">
    <a href="/listing/castles" class="category">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castles</p>
    </a>
  </div>
  <div class="filter">
    <a href="/listing/amazingpools" class="category">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Amazing Pools</p>
    </a>
  </div>
  <div class="filter">
    <a href="/listing/camping" class="category">
      <div><i class="fa-solid fa-campground"></i></div>
      <p>Camping</p>
    </a>
  </div>
  <div class="filter">
    <a href="/listing/desert" class="category">
      <div><i class="fa-solid fa-cactus"></i></div>
      <p>Desert</p>
    </a>
  </div>
  <div class="filter">
    <a href="/listing/arctic" class="category">
      <div><i class="fa-regular fa-snowflake"></i></div>
      <p>Arctic</p>
    </a>
  </div>
  <div class="filter">
    <a href="/listing/domes" class="category">
      <div><i class="fa-solid fa-igloo"></i></div>
      <p>Domes</p>
    </a>
  </div>
  <div class="filter">
    <a href="/listing/bots" class="category">
      <div><i class="fa-solid fa-sailboat"></i></div>
      <p>Bots</p>
    </a>
  </div>
  <div class="tax-toggle">
    <div class="form-check-reverse form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
      />
      <label class="form-check-label" for="flexSwitchCheckDefault"
        >Display total after Taxes</label
      >
    </div>
  </div>
</div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-1 mt-3">
  <% for(let listing of allListings) { %>
  <a href="/listings/<%=listing._id%>" class="listing-link">
    <div class="card col listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="listing_img"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <!-- Taxes -->
        <% const gstAmount = listing.price * 0.18; const totalPrice =
        listing.price + gstAmount; %>
        <p class="card-text">
          <b><%= listing.title %></b> <br />
          <i class="pre-tex">
            &#8377;<%= listing.price.toLocaleString("en-IN") %> / night</i
          >
          <i class="tax-info"
            >&#8377;<%= totalPrice.toLocaleString("en-IN") %> / night</i
          >
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>

<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
    let preTex = document.getElementsByClassName("pre-tex");
    for (info of taxInfo) {
      if (info.style.display != "inline") {
        info.style.display = "inline";
      } else {
        info.style.display = "none";
      }
    }
    for (pre of preTex) {
      if (pre.style.display != "none") {
        pre.style.display = "none";
      } else {
        pre.style.display = "inline";
      }
    }
  });
</script>
